@charset "UTF-8";
/* Scss Document */
.ttl-common {
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.btn-lk-add {
  position: relative;
  width: 50%;
  margin: -70px auto -50px;
}

.btn-lk-add img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 999px) {
  .btn-lk-add {
    position: relative;
    width: 60%;
    margin: -70px auto -40px;
  }
}

@media only screen and (max-width: 767px) {
  .btn-lk-add {
    position: relative;
    width: 80%;
    margin: -55px auto -20px;
  }
}

/* .btn-bdf {
  position: relative;
  text-align: center;
}
.btn-bdf .file-item {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-bdf .file-item input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.size-file {
  display: block;
  text-align: center;
} */
#lead {
  background: #82C2A9;
  margin-top: -12px;
  padding: 100px 45px 45px;
  position: relative;
  color: #000;
}

#lead .wrap {
  padding: 65px 0 60px;
  max-width: 920px;
}

#lead h2 {
  text-align: center;
  margin-bottom: 38px;
  z-index: 2;
  position: relative;
  letter-spacing: 0.025em;
}

#lead h2 span {
  border-bottom: 2px solid;
}

#lead .title-price {
  text-align: center;
  margin-bottom: 38px;
  z-index: 2;
  position: relative;
  letter-spacing: 0.025em;
}

#lead .title-price span {
  border-bottom: 2px solid;
}

#lead .wrap::before {
  width: 1120px;
  background: #FFF;
  box-sizing: border-box;
  border: 14px solid #8C8C8C;
  overflow: hidden;
  border-top: 14px solid #FF463C;
  border-left: 14px solid #FF463C;
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

.lead-banner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

.lead-banner li {
  position: relative;
}

.lead-banner li span {
  display: block;
  position: absolute;
  top: -50px;
  right: -13%;
  z-index: 1;
  max-width: 300px;
  width: 68%;
}

.lead-banner li img {
  width: 100%;
  height: auto;
}

.lead-banner.is-price {
  background: none;
}

.lead-banner.is-price.mt {
  margin-top: 15px;
}

.price-add-1807 {
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 15px 20px;
text-align: left;
}

.lead-banner .list-price {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #FFF;
  box-sizing: border-box;
  border: 2px solid #000;
  margin-bottom: 18px;
}

.lead-banner .item {
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 25px 10px 20px;
  font-weight: bold;
}

.lead-banner .price-old .item {
  padding: 19px 10px 10px;
}

.lead-banner .price-old .item dl dt {
  padding: 5px 0 0;
}

.lead-banner .list-price .item.is-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lead-banner .item:first-child {
  background: #FF463C;
}

.lead-banner .item:first-child .ttl {
  color: #FFF;
}

.lead-banner .list-price .item:first-child .ttl {
  color: #000;
}

.lead-banner .list-price:first-child .item:first-child .ttl {
  color: #FFF;
}

.lead-banner .list-price:first-child .item:first-child .ttl span {
  font-size: 32px;
}

.lead-banner .item .ttl img {
  width: 85px;
  height: auto;
  margin-right: 10px;
}

.lead-banner .list-price .item:first-child .ttl {
  flex-direction: column;
}

.lead-banner .list-price .item .ttl img {
  width: 110px;
  height: auto;
  margin-right: 0;
  margin-bottom: 10px;
}

.lead-banner .item .ttl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lead-banner .list-price .item .box .time {
  font-weight: bold;
  font-size: 24px;
}

.lead-banner .list-price .item .photo_price img {
  width: 100%;
  height: auto;
}

.lead-banner .list-price .item:first-child {
  background: #D5D5D5;
}

.lead-banner .list-price:first-child .item:first-child {
  background: #f62a2d;
}

.lead-banner .list-price .item .box .text {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  padding: 10px 0 15px;
}

.lead-banner .list-price .item .box .text1 {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  padding-top: 3px;
}

.lead-banner .list-price .item .box .btn1 {
  width: 270px;
  margin: -30px auto -10px;
}

.lead-banner .list-price .item .box .btn1 img {
  width: 100%;
  height: auto;
}

.lead-banner .item .ttl span {
  font-size: 32px;
}

.lead-banner .list-price .item .ttl span {
  font-size: 26px;
}

.lead-banner .item dl dt,
.lead-banner .list-price:first-child .item:first-child dl dt {
  font-size: 54px;
  color: #FFF;
  font-weight: bold;
  line-height: 54px;
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
  padding: 20px 0 0;
}

.lead-banner .item dl dt span,
.lead-banner .list-price:first-child .item:first-child dl dt span {
  font-size: 84px;
}

.lead-banner .item dl dt b,
.lead-banner .list-price:first-child .item:first-child dl dt b {
  font-size: 70px;
}

.lead-banner .list-price .item dl dt,
.lead-banner .list-price .item dl dt b {
  font-size: 50px;
}

.lead-banner .list-price .item dl dt span {
  font-size: 64px;
}

.lead-banner .item dl dt span.small {
  font-size: 39px;
  position: relative;
  top: -5px;
}

.lead-banner .item dl dt span.small::before {
  font-size: 14px;
  content: "（税込）";
  position: absolute;
  top: -34px;
  left: -50%;
  text-align: center;
  width: 200%;
  color: #000;
  text-shadow: none;
}

#lead .note {
  text-align: left;
  z-index: 2;
  position: relative;
  font-weight: bold;
  padding: 20px 0 0;
  font-size: 16px;
line-height: 27px;
display: flex;
    justify-content: center;
}

#lead .btn {
  text-align: center;
  z-index: 2;
  position: relative;
  font-weight: bold;
  padding-top: 40px;
  width: 420px;
  margin: auto;
}

#lead .sale {
  padding-top: 45px;
}

#lead .sale.is-sale {
  padding-top: 0px;
}

#lead .sale img,
#lead .btn img {
  width: 100%;
  height: auto;
}

.page-template-tpl-price #lead {
  padding: 40px 45px 45px;
}

@media only screen and (max-width: 1119px) {
  #lead .wrap {
    padding: 65px 3% 60px;
  }
  #lead .wrap::before {
    width: 105%;
  }
}

@media only screen and (max-width: 999px) {
  #lead h2 {
    font-size: 25px;
    letter-spacing: 0;
  }
  #lead .title-price {
    font-size: 25px;
    letter-spacing: 0;
  }
  .lead-banner .list-price .item .box .text {
    font-size: 15px;
  }
  .price-add-1807 {
    padding: 10px 12px;
    font-size: 11px;
  }
}

@media only screen and (max-width: 999px) {
.price-add-1807 {
line-height: 1.8;
}
}

@media only screen and (max-width: 767px) {
.price-add-1807 {
font-size: 10px;
}
}

@media only screen and (max-width: 1040px) {
  .lead-banner .item .ttl span {
    font-size: 2.8vw;
  }
}

@media only screen and (max-width: 899px) {
  .lead-banner .list-price:first-child .item:first-child .ttl span {
    font-size: 26px;
  }
  .lead-banner .item .ttl span {
    font-size: 2.6vw;
  }
  .lead-banner .item dl dt, .lead-banner .list-price:first-child .item:first-child dl dt {
    font-size: 42px;
  }
  .lead-banner .item dl dt b, .lead-banner .list-price:first-child .item:first-child dl dt b {
    font-size: 58px;
  }
  .lead-banner .item dl dt span, .lead-banner .list-price:first-child .item:first-child dl dt span {
    font-size: 72px;
  }
  #lead .note span {
    display: inline-block;
  }
  #lead .btn {
    width: 360px;
  }
}

@media only screen and (max-width: 767px) {
  #lead {
    padding: 55px 3% 45px;
  }
  .page-template-tpl-price #lead {
    padding: 40px 3% 45px;
  }
  #lead .wrap {
    padding: 45px 0px 50px;
    background: #fff;
  }
  .page-id-50 #lead .wrap {
    padding: 45px 10px 50px;
  }
  #lead h2 {
    font-size: 5vw;
    padding: 0 20px;
    line-height: 1.8;
  }
  #lead .title-price {
    font-size: 5vw;
    padding: 0 20px;
    line-height: 40px;
  }
  #lead .wrap::before {
    width: 100%;
    background: transparent;
    box-sizing: border-box;
    border: 10px solid #8C8C8C;
    overflow: hidden;
    border-top: 10px solid #FF463C;
    border-left: 10px solid #FF463C;
    content: '';
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0%;
    transform: none;
    height: 100%;
  }
  .lead-banner .list-price {
    position: relative;
    width: 93%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #FFF;
    box-sizing: border-box;
    border: 2px solid #000;
    margin: 0 3.5% 18px;
  }
  .lead-banner .item {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 25px 8px 20px;
    font-weight: bold;
  }
  .lead-banner li {
    width: 100%;
  }
  .lead-banner li img {
    width: 110%;
    height: auto;
    margin-left: -5%;
  }
  .lead-banner .price-old .item {
    padding: 19px 8px 10px;
  }
  .lead-banner .list-price:first-child .item:first-child .ttl span {
    font-size: 6vw;
  }
  .lead-banner .item .ttl img {
    width: 80px;
  }
  .lead-banner .list-price .item .ttl img {
    width: 100px;
  }
  .lead-banner .item .ttl {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lead-banner .list-price .item .box .time {
    font-weight: bold;
    font-size: 20px;
  }
  .lead-banner .list-price .item:first-child {
    background: #D5D5D5;
  }
  .lead-banner .list-price .item .box .text {
    font-weight: bold;
    font-size: 3.5vw;
    line-height: 1.8;
    padding: 10px 0 15px;
  }
  .lead-banner .list-price .item .box .btn1 {
    width: 270px;
  }
  .lead-banner .list-price .item .box .btn1 img {
    width: 100%;
    height: auto;
  }
  .lead-banner .item .ttl span,
  .lead-banner .list-price .item .ttl span {
    font-size: 4.7vw;
  }
  .lead-banner .item dl dt,
  .lead-banner .list-price:first-child .item:first-child dl dt {
    font-size: 38px;
    line-height: 40px;
    margin-bottom: 8px;
  }
  .lead-banner .item dl dt span,
  .lead-banner .list-price:first-child .item:first-child dl dt span {
    font-size: 54px;
  }
  .lead-banner .item dl dt b,
  .lead-banner .list-price:first-child .item:first-child dl dt b {
    font-size: 46px;
  }
  .lead-banner .list-price .item dl dt,
  .lead-banner .list-price .item dl dt b {
    font-size: 40px;
  }
  .lead-banner .list-price .item dl dt span {
    font-size: 48px;
  }
  .lead-banner .item dl dt span.small {
    font-size: 31px;
    position: relative;
    top: -5px;
  }
  .lead-banner .item dl dt span.small::before {
    font-size: 12px;
    content: "（税込）";
    position: absolute;
    top: -28px;
    left: -50%;
    text-align: center;
    width: 200%;
    color: #000;
    text-shadow: none;
  }
  #lead .note {
    padding: 20px 20px 0;
    font-size: 13px;
line-height: 24px;

  }
  #lead .btn {
    padding-top: 40px;
    width: calc(100% - 80px);
    margin: 0 auto;
  }
  #lead .sale {
    padding-top: 45px;
    margin: 0 20px;
  }
  #lead .sale.is-sale {
    padding-top: 0;
  }
  #lead .sale img,
  #lead .btn img {
    width: 100%;
    height: auto;
  }
}

.lead-banner .list-price::before {
  background: url(../img/shared/zebra_img2.png) no-repeat center top;
  width: 100%;
  height: 564px;
  background-size: 98% auto;
  position: absolute;
  top: -23%;
  left: 0;
  content: "";
  z-index: 2;
  opacity: 0.55;
  transform: rotate(0.5deg);
}

@media only screen and (max-width: 767px) {
  .lead-banner .list-price::before {
    top: 33%;
    background-size: 100% auto;
    transform: rotate(1deg);
  }
}

.lead-banner .list-price:nth-child(1)::before, .lead-banner .list-price:last-child::before {
  display: none;
}

@media only screen and (max-width: 374px) {
  .lead-banner .item dl dt span, .lead-banner .list-price:first-child .item:first-child dl dt span {
    font-size: 45px;
  }
  .lead-banner .item dl dt, .lead-banner .list-price:first-child .item:first-child dl dt {
    font-size: 30px;
  }
  .lead-banner .item dl dt b, .lead-banner .list-price:first-child .item:first-child dl dt b {
    font-size: 36px;
  }
  .lead-banner .item dl dt span.small {
    font-size: 30px;
    position: relative;
    top: -3px;
  }
  .lead-banner .list-price .item .box .btn1 {
    width: 234px;
  }
}

td#timezone {
  font-size: 10px !important;
}

/* section about */
#about {
  padding: 40px 0 1px;
}

#about .ttl-ab {
  width: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

#about .ttl-ab img {
  width: 100%;
  height: auto;
}

#about .list {
  padding-left: 70px;
}

#about .item {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #000;
  overflow: hidden;
  padding-right: 3px;
}

#about .item:last-child {
  border-bottom: none;
  margin-bottom: 10px;
}

#about .item .text {
  width: 395px;
  background: #FFF;
}

#about .item .photo {
  max-width: 396px;
}

#about .item .photo img {
  box-shadow: 3px 3px 0 #000;
}

#about .item .photo img,
#about .item .text .btn img {
  width: 100%;
  height: auto;
}

#about .item .text .ttl-number {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-top: 15px;
}

#about .item .text .ttl-number span {
  font-size: 60px;
  font-weight: bold;
  color: #82C2A9;
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
  margin-right: 25px;
  line-height: 60px;
}

#about .item .text .txt {
  font-size: 21px;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 28px;
  margin-right: -30px;
}

#about .item .text .txt span {
  border-bottom: 2px solid;
  display: inline-block;
  line-height: 40px;
}

#about .item .text .btn {
  display: flex;
  justify-content: flex-end;
}

#about .item .text .btn a {
  display: block;
  width: 270px;
margin-top: -20px;
}

@media only screen and (max-width: 899px) {
  #about .ttl-ab {
    left: 3%;
  }
  #about .item .text {
    width: 48%;
  }
  #about .item .photo {
    width: 48%;
  }
  #about .item .text .ttl-number {
    font-size: 38px;
    margin-bottom: 10px;
    padding-top: 5px;
  }
  #about .item .text .ttl-number span {
    font-size: 55px;
    margin-right: 20px;
  }
  #about .item .text .txt {
    font-size: 2.1vw;
  }
  #about .item .text .btn a {
    width: 270px;
  }
#about .item .text .txt span {
line-height: 36px;
}
#about .item .text .txt {
line-height: 42px;
margin-bottom: 20px;
}

}

#lead .title-price.b-none span {
  border: none;
}

@media only screen and (max-width: 767px) {
  #about .ttl-ab {
    width: 100%;
    position: static;
  }
  #about .ttl-ab span {
    letter-spacing: 0;
    margin-bottom: 30px;
    font-size: 8.5vw;
    margin-right: 20px;
  }
  #about .ttl-ab img {
    width: 100%;
    height: auto;
  }
  #about .list {
    padding-left: 0px;
  }
  #about .item .text {
    width: 100%;
    margin-bottom: 30px;
  }
  #about .item .photo {
    max-width: 100%;
    width: 100%;
  }
  #about .item .text .ttl-number {
    font-size: 7vw;
    padding-top: 0;
  }
  #about .item .text .ttl-number span {
    font-size: 14vw;
    line-height: 1;
    margin-right: 18px;
    display: inline;
  }
  #about .item .text .txt {
    font-size: 3.8vw;
    line-height: 40px;
  }
  #about .item .text .txt span {
    border-bottom: 2px solid;
    display: inline-block;
    line-height: 40px;
  }
  #about .item .text .btn {
    display: flex;
    justify-content: flex-end;
  }
  #about .item .text .btn a {
    display: block;
    width: 270px;
  }
}

/* section banner-pdf */
#banner-pdf {
  background: #000;
  text-align: center;
}

#banner-pdf .wrap {
  background: url(../img/index/banner_bg.jpg) repeat-y top center #8C8C8C;
  background-size: 700px auto;
  border-left: 20px solid #FF463C;
  border-right: 20px solid #FF463C;
  height: 305px;
}

#banner-pdf img {
  width: 100%;
  height: auto;
}

#banner-pdf h2 {
  margin: auto;
  width: 396px;
  padding: 45px 0 20px;
}

#banner-pdf p.btn {
  margin: auto;
  width: 550px;
}

@media only screen and (max-width: 767px) {
  #banner-pdf .wrap {
    background: url(../img/index/banner_bg.jpg) repeat-y top center #8C8C8C;
    background-size: 700px auto;
    border-left: 10px solid #FF463C;
    border-right: 10px solid #FF463C;
    height: auto;
    padding-bottom: 45px;
  }
  #banner-pdf h2 {
    margin: auto;
    width: 80%;
  }
  #banner-pdf p.btn {
    margin: auto;
    width: 95%;
  }
}

/* section news */
#news {
  padding: 40px 0 30px;
}

#news h2 {
  width: 184px;
  margin-bottom: 20px;
}

#news h2 img {
  width: 100%;
  height: auto;
}

#news .news-box {
  position: relative;
  padding-left: 100px;
}

.news-box .list .list-f {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.news-box .list .list-f .item {
  width: 31%;
  margin-left: 4.5%;
  max-width: 240px;
  box-sizing: border-box;
  border: 2px solid #000;
}

.news-box .list .list-f .item:first-child {
  margin-left: 0 !important;
}

#lead-news .news-box .list .list-f .item:first-child {
  margin-left: 1.625% !important;
}

.news-box .list .item .photo {
  margin-bottom: 15px;
}

.news-box .list .item .photo img {
  width: 100%;
  height: auto;
}

.news-box .list .item dl dt {
  text-transform: uppercase;
  color: #8C8C8C;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

.news-box .list .item dl dt span {
  display: inline-block;
}

.news-box .list .item dl dd {
  line-height: 22px;
  font-weight: bold;
  padding: 0 20px 15px;
}

.news-box .list .item dl dd a {
  line-height: 22px;
  font-weight: bold;
  color: #8C8C8C;
}

.news-box .list .item dl dd span {
  line-height: 22px;
  font-weight: bold;
}

#news .post-slide .slick-arrow.slick-next {
  right: inherit;
  left: -100px;
  top: 85px;
}

#news .post-slide .slick-arrow.slick-prev {
  right: inherit;
  left: -100px;
  top: 155px;
}

#news .post-slide .slick-arrow:hover {
  opacity: 0.8;
}

#news .post-slide .slick-arrow.slick-disabled {
  opacity: 0.3;
}

#news .post-slide .slick-dots {
  justify-content: flex-start;
  padding: 60px 0 0;
  margin-left: -100px;
  position: absolute;
  bottom: -65px;
  left: 0;
}

#news .post-slide .slick-dots li {
  width: 40px;
  height: 6px;
  margin: 0 10px 0 0;
}

#news .post-slide .slick-dots li button {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background: #000;
  text-indent: -9999px;
  cursor: pointer;
  border: none;
}

#news .post-slide .slick-dots li.slick-active button {
  background: #8C8C8C;
}

#news .btn {
  text-align: center;
  margin-top: 45px;
}

#news .btn a {
  display: inline-block;
  width: 250px;
}

#news .btn a img {
  width: 100%;
  height: auto;
}

.slider_counter {
  position: absolute;
  bottom: -50px;
  left: -100px;
  font-weight: bold;
  font-size: 16px;
  padding-left: 10px;
  opacity: 0;
}

.show-count .slider_counter {
  opacity: 1;
}

.slider_counter::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '0';
  font-weight: bold;
  font-size: 16px;
}

@media only screen and (max-width: 999px) {
  .news-box .list .list-f .item {
    margin-left: 3.5%;
  }
}

@media only screen and (max-width: 767px) {
  #news {
    padding: 50px 0 45px;
    position: relative;
    z-index: 10;
  }
  #news h2 {
    width: 155px;
  }
  #news .news-box {
    padding-left: 0;
  }
  .news-box .list .list-f {
    max-width: 540px;
    justify-content: space-between;
    margin: auto;
  }
  .news-box .list .list-f .item {
    width: 48%;
    max-width: 240px;
    box-sizing: border-box;
    border: 2px solid #000;
    margin: 0 1% 5%;
  }
  .news-box .list .item dl dd {
    line-height: 22px;
    font-weight: bold;
    padding: 0 10px 15px;
  }
  .news-box .list .item dl dd span {
    line-height: 22px;
    font-weight: bold;
  }
  #news .post-slide .slick-arrow.slick-next {
    right: 0;
    left: inherit;
    top: inherit;
    bottom: 40px;
  }
  #news .post-slide .slick-arrow.slick-prev {
    right: 60px;
    left: inherit;
    top: inherit;
    bottom: 40px;
  }
  #news .post-slide .slick-arrow:hover {
    opacity: 0.8;
  }
  #news .post-slide .slick-arrow.slick-disabled {
    opacity: 0.3;
  }
  #news .post-slide .slick-dots {
    justify-content: flex-start;
    padding: 0px 0 60px;
    margin-left: 0;
    position: static;
  }
  #news .post-slide .slick-dots li {
    width: 35px;
    height: 6px;
    margin: 0 10px 0 0;
  }
  #news .post-slide .slick-dots li button {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: #000;
    text-indent: -9999px;
    cursor: pointer;
    border: none;
  }
  #news .post-slide .slick-dots li.slick-active button {
    background: #8C8C8C;
  }
  #news .btn {
    text-align: center;
    margin-top: 5px;
  }
  #news .btn a {
    display: inline-block;
    width: 200px;
  }
  .slider_counter {
    position: absolute;
    bottom: inherit;
    top: 270px;
    left: 0;
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
  }
  .slider_counter::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '0';
    font-weight: bold;
    font-size: 14px;
  }
}

/* section map */
#map-google {
  background: #82C2A9;
  display: flex;
  justify-content: space-between;
  height: 300px;
}

#map-google .box {
  width: calc(100% - 315px);
  height: 100%;
}

#map-google .box iframe {
  width: 100%;
  height: 100%;
}

#map-google .info-access {
  width: 315px;
  height: 100%;
  box-sizing: border-box;
  padding: 55px 0 0 40px;
  line-height: 20px;
  font-weight: bold;
}

#map-google .info-access img {
  width: 100%;
  height: auto;
}

#map-google .info-access h2 {
  width: 190px;
  margin-bottom: 20px;
}

#map-google .info-access .btn {
  width: 230px;
  padding-top: 18px;
}

@media only screen and (max-width: 767px) {
  #map-google {
    flex-wrap: wrap;
    height: auto;
  }
  #map-google .box {
    width: 100%;
    height: 300px;
  }
  #map-google .box iframe {
    width: 100%;
    height: 100%;
  }
  #map-google .info-access {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 55px 0 40px 0px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
  }
  #map-google .info-access h2 {
    width: 190px;
    margin: 0 auto 25px;
  }
  #map-google .info-access .txt {
    display: inline-block;
    margin: auto;
    text-align: left;
  }
  #map-google .info-access .btn {
    width: 200px;
    margin: auto;
    padding-top: 18px;
  }
}

/* section news */
.slick-dots {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 99;
  padding: 10px 0 15px;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 6px;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #8C8C8C;
  text-indent: -9999px;
  cursor: pointer;
  border: none;
}

.slick-dots li.slick-active button {
  background: #FFF;
}

.slick-arrow {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  background: url(../img/index/arrow.png) no-repeat center;
  background-size: cover;
  border: none !important;
  text-indent: -9999px;
  z-index: 99;
  cursor: pointer;
}

.slick-arrow.slick-prev {
  left: 0%;
  background: url(../img/index/arrow1.png) no-repeat center;
  background-size: cover;
}

.slick-arrow.slick-next {
  right: 0%;
}

@media only screen and (max-width: 767px) {
  /* .slick-dots li {
    margin: 0 10px;
  } */
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #cake .step .step-item2 .item-is dl dd {
    margin-left: 145px;
  }
}

/*****************page price***********************/
.mb30 {
  margin-bottom: 30px;
}

.text-list-note {
  line-height: 26px;
  font-size: 16px;
  position: relative;
}

.text-list-note li {
  padding-left: 20px;
  text-indent: -20px;
}

.text-list-note li span {
  color: #FF463C;
}

.price-note-edit {
  padding: 40px 0 10px;
  position: relative;
  z-index: 2;
}

.price-note-edit h3 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

.price-note-edit h3 span {
  display: block;
  font-size: 18px;
  line-height: 28px;
  padding-top: 15px;
  letter-spacing: 0;
}

.price-note-edit .list {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}

.price-note-edit .list dl {
  width: 285px;
}

.price-note-edit .list dl dd {
  margin-left: -20px;
  margin-right: -20px;
}

.price-note-edit .list dl:nth-child(2) {
  padding: 0 20px;
  margin: 0 20px;
  box-sizing: border-box;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.price-note-edit .list dl dt {
  font-size: 16px;
  background: #8C8C8C;
  margin-bottom: 15px;
  padding: 13px 10px;
  color: #FFF;
}

.price-note-edit .list dl:nth-child(2) dt {
  background: #82C2A9;
  color: #000;
}

.price-note-edit .list dl:nth-child(3) dt {
  background: #FF463C;
}

@media only screen and (max-width: 767px) {
  .text-list-note {
    line-height: 24px;
    font-size: 14px;
    padding: 0 10px;
  }
  .price-note-edit h2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
  }
  .price-note-edit h2 span {
    display: block;
    padding-top: 10px;
    font-size: 16px;
    line-height: 26px;
  }
  .price-note-edit {
    padding: 50px 0 50px;
  }
  .price-note-edit .list {
    flex-wrap: wrap;
max-width: 500px;
        margin: auto;
  }
  .price-note-edit .list dl:nth-child(2) {
    padding: 20px 0px;
    margin: 20px 0px;
    box-sizing: border-box;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: none;
  }
}

/*****************page studio***********************/
#lead-studio {
  position: relative;
  padding: 75px 0 35px;
}

#lead-studio h2 {
  font-size: 121px;
  color: #231815;
  letter-spacing: 0;
  text-align: center;
  line-height: 120px;
  margin-bottom: 60px;
}

#lead-studio h2 span {
  display: block;
  font-size: 62px;
}

.studio-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.studio-box .photo {
  width: 412px;
}

.studio-box .photo img {
  width: 100%;
  height: auto;
}

.studio-box dl {
  width: 420px;
  font-size: 18px;
  line-height: 42px;
  font-weight: bold;
}

.studio-box dl dt {
  margin-bottom: 35px;
  display: flex;
}

.studio-box dl dt span {
  color: #FFF;
  background: #000;
  font-size: 52px;
  line-height: 50px;
  padding: 17px 10px 17px 28px;
}

#lead-studio h3 {
  display: block;
  padding: 35px 0 25px;
}

#lead-studio h3 img {
  width: 100%;
  height: auto;
}

.studio-detail {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.studio-detail .photo {
  width: 434px;
  position: relative;
}

.studio-detail .show-box {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #FFF;
}

.studio-detail .show-box.o2 {
  opacity: 1;
  z-index: 2;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.studio-detail .show-box.opc {
  opacity: 1;
  z-index: 10;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.studio-detail .photo img {
  width: 100%;
  height: auto;
}

.studio-detail .photo p {
  margin-bottom: 6px;
  width: 100%;
}

.studio-detail .detail-map {
  width: 434px;
  position: relative;
  margin-top: -47px;
}

.studio-detail .detail-map img {
  width: 100%;
  height: auto;
}

#lead-studio .note {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  padding: 25px 0 40px;
}

#lead-studio .note dt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#lead-studio .note dt span {
  font-size: 15px;
  font-weight: bold;
  background: #82C2A9;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 2px;
}

#gallery-box {
  background: #82C2A9;
  padding: 75px 0 70px;
}

#gallery-box h2 {
  color: #FFF;
  font-size: 66px;
  font-weight: bold;
  text-align: center;
}

#gallery-box h3 {
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 12px 15px;
}

#gallery-box .slide-box {
  width: 700px;
  margin: auto;
  padding-bottom: 45px;
}

#gallery-box .slick-dots li button {
  background: #FFF;
}

#gallery-box .slick-dots li.slick-active button {
  opacity: 0.7;
}

#gallery-box .slick-arrow {
  position: absolute;
  top: 55px;
  width: 17px;
  height: 30px;
  background: url(../img/common/arrow_l.png) no-repeat center;
  background-size: cover;
  border: none !important;
  text-indent: -9999px;
  z-index: 99;
  cursor: pointer;
}

#gallery-box .slick-arrow.slick-prev {
  left: 0%;
  background: url(../img/common/arrow_r.png) no-repeat center;
  background-size: cover;
}

#gallery-box .slick-arrow.slick-next {
  right: 0%;
}

#gallery-box .slide-nav .slick-slide {
  width: 206px !important;
  margin: 0 15px !important;
  max-height: 137px;
}

#gallery-box .slide-nav .slick-list {
  margin: 0 35px;
}

.unit-a {
  position: absolute;
  top: 13%;
  left: 5%;
  width: 55px;
  height: 55px;
  opacity: 0;
}

.unit-b {
  position: absolute;
  top: 33%;
  right: 21%;
  width: 55px;
  height: 55px;
  opacity: 0;
}

.unit-c {
  position: absolute;
  top: 70%;
  right: 36%;
  width: 55px;
  height: 55px;
  opacity: 0;
}

.unit-d {
  position: absolute;
  top: 87%;
  right: 22%;
  width: 55px;
  height: 55px;
  opacity: 0;
}

.unit-e {
  position: absolute;
  top: 81%;
  right: 43%;
  width: 55px;
  height: 55px;
  opacity: 0;
}

.unit-f {
  position: absolute;
  top: 87%;
  left: 29%;
  width: 55px;
  height: 55px;
  opacity: 0;
}

.unit-a a,
.unit-b a,
.unit-c a,
.unit-d a,
.unit-e a,
.unit-f a {
  display: none !important;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 899px) {
  #lead-studio {
    position: relative;
    padding: 75px 0 35px;
  }
  #lead-studio h2 {
    font-size: 90px;
    color: #231815;
    letter-spacing: 0;
    text-align: center;
    line-height: 90px;
    margin-bottom: 60px;
  }
  #lead-studio h2 span {
    display: block;
    font-size: 48px;
  }
  .studio-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .studio-box .photo {
    width: 40%;
    max-width: 412px;
  }
  .studio-box dl {
    width: 55%;
    font-size: 18px;
    line-height: 42px;
    font-weight: bold;
  }
  .studio-box dl dt {
    margin-bottom: 35px;
    display: flex;
  }
  .studio-box dl dt span {
    color: #FFF;
    background: #000;
    font-size: 52px;
    line-height: 50px;
    padding: 17px 10px 17px 28px;
  }
  #lead-studio h3 {
    display: block;
    padding: 35px 0 25px;
  }
  .studio-detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .studio-detail .photo {
    width: 48%;
  }
  .studio-detail .photo p {
    margin-bottom: 6px;
  }
  .studio-detail .detail-map {
    width: 48%;
    position: relative;
    margin-top: -47px;
  }
  #lead-studio .note {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    padding: 25px 0 40px;
  }
  #lead-studio .note dt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  #lead-studio .note dt span {
    font-size: 15px;
    font-weight: bold;
    background: #82C2A9;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 2px;
  }
  #gallery-box {
    background: #82C2A9;
    padding: 75px 0 70px;
  }
  #gallery-box h2 {
    color: #FFF;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
  }
  #gallery-box h3 {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 12px 15px;
  }
  #gallery-box .slide-box {
    width: 700px;
    margin: auto;
    padding-bottom: 45px;
  }
  #gallery-box .slick-dots li button {
    background: #FFF;
  }
  #gallery-box .slick-dots li.slick-active button {
    opacity: 0.7;
  }
  #gallery-box .slick-arrow {
    position: absolute;
    top: 55px;
    width: 17px;
    height: 30px;
    background: url(../img/common/arrow_l.png) no-repeat center;
    background-size: cover;
    border: none !important;
    text-indent: -9999px;
    z-index: 99;
    cursor: pointer;
  }
  #gallery-box .slick-arrow.slick-prev {
    left: 0%;
    background: url(../img/common/arrow_r.png) no-repeat center;
    background-size: cover;
  }
  #gallery-box .slick-arrow.slick-next {
    right: 0%;
  }
  #gallery-box .slide-nav .slick-slide {
    width: 206px !important;
    margin: 0 15px !important;
    max-height: 105px;
  }
  #gallery-box .slide-nav .slick-list {
    margin: 0 35px;
  }
  .unit-b {
    width: 50px;
    height: 50px;
  }
  .unit-c {
    top: 68%;
    width: 50px;
    height: 50px;
  }
  .unit-d {
    position: absolute;
    top: 85%;
    right: 20%;
    width: 50px;
    height: 50px;
  }
  .unit-e {
    position: absolute;
    top: 79%;
    right: 42%;
    width: 50px;
    height: 50px;
  }
  .unit-f {
    position: absolute;
    top: 85%;
    left: 28%;
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 767px) {
  #lead-studio {
    position: relative;
    padding: 45px 0 35px;
  }
  .studio-detail .show-box {
    position: static;
    opacity: 1;
  }
  #lead-studio h2 {
    font-size: 11vw;
    color: #231815;
    letter-spacing: 0;
    text-align: center;
    line-height: 50px;
    margin-bottom: 60px;
  }
  #lead-studio h2 span {
    display: block;
    font-size: 6.5vw;
  }
  .studio-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .studio-box .photo {
    width: 100%;
    max-width: 412px;
    margin: 0 auto 35px;
  }
  .studio-box dl {
    width: 100%;
    font-size: 16px;
    line-height: 38px;
    font-weight: bold;
  }
  .studio-box dl dt {
    margin-bottom: 25px;
    display: flex;
  }
  .studio-box dl dt span {
    color: #FFF;
    background: #000;
    font-size: 6vw;
    line-height: 40px;
    padding: 12px 50px 12px 55px;
  }
  #lead-studio h3 {
    display: block;
    padding: 35px 0 25px;
    overflow: hidden;
  }
  #lead-studio h3 img {
    width: 160%;
  }
  .studio-detail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .studio-detail .photo {
    width: 100%;
  }
  .studio-detail .photo p {
    margin-bottom: 6px;
  }
  .studio-detail .detail-map {
    padding-bottom: 10px;
    position: relative;
    margin-top: 25px;
    width: 100%;
  }
  #lead-studio .note {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    padding: 25px 15 40px;
  }
  #lead-studio .note dt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  #lead-studio .note dt span {
    font-size: 15px;
    font-weight: bold;
    background: #82C2A9;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 2px;
  }
  #gallery-box {
    background: #82C2A9;
    padding: 65px 0 70px;
  }
  #gallery-box h2 {
    color: #FFF;
    font-size: 9vw;
    font-weight: bold;
    text-align: center;
    margin: 0 20px;
  }
  #gallery-box h3 {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
  }
  #gallery-box .slide-box {
    width: 100%;
    margin: auto;
    padding-bottom: 45px;
  }
  #gallery-box .slick-dots li button {
    background: #FFF;
  }
  #gallery-box .slick-dots li.slick-active button {
    opacity: 0.7;
  }
  #gallery-box .slick-arrow {
    position: absolute;
    top: 40px;
    width: 17px;
    height: 30px;
    background: url(../img/common/arrow_l.png) no-repeat center;
    background-size: cover;
    border: none !important;
    text-indent: -9999px;
    z-index: 99;
    cursor: pointer;
  }
  #gallery-box .slick-arrow.slick-prev {
    left: 0%;
    background: url(../img/common/arrow_r.png) no-repeat center;
    background-size: cover;
  }
  #gallery-box .slick-arrow.slick-next {
    right: 0%;
  }
  #gallery-box .slide-nav .slick-slide {
    width: 156px !important;
    margin: 0 15px !important;
  }
  #gallery-box .slide-nav .slick-list {
    margin: 0 35px;
  }
  .unit-a a, .unit-b a, .unit-c a, .unit-d a, .unit-e a, .unit-f a {
    display: block !important;
    width: 100%;
    height: 100%;
  }
  .unit-a {
    position: absolute;
    top: 12%;
    left: 5%;
    width: 50px;
    height: 50px;
  }
  .unit-b {
    width: 50px;
    height: 50px;
    top: 32%;
    right: 19%;
  }
  .unit-c {
    top: 69%;
    right: 34%;
  }
  .unit-d {
    top: 84%;
    right: 20%;
    width: 50px;
    height: 50px;
  }
  .unit-e {
    position: absolute;
    top: 80%;
    right: 44%;
    width: 40px;
    height: 40px;
  }
  .unit-f {
    position: absolute;
    top: 86%;
    left: 28%;
    width: 50px;
    height: 50px;
  }
}

/*****************page rental***********************/
#lead-rental {
  padding: 50px 0 65px;
}

#lead-rental h2 {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
}

#lead-rental .list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
  width: calc(100% + 24px);
}

#lead-rental .list .item .photo {
  position: relative;
}

#lead-rental .list .item .photo::before {
  background-size: cover;
  width: 40px;
  height: 40px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#lead-rental .list .item .photo img {
  width: 100%;
  height: auto;
}

#lead-rental .list .item .text {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 0 30px;
}

#download-flie {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 75px;
}

#download-flie .btn {
  max-width: 440px;
  margin: auto;
  padding-bottom: 8px;
}

#download-flie .btn img {
  width: 100%;
  height: auto;
}

#sec01-rental {
  font-size: 14px;
  padding-bottom: 60px;
  font-weight: bold;
}

#sec01-rental h2 {
  text-align: center;
  font-size: 28px;
}

#sec01-rental dl {
  line-height: 24px;
  width: 570px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#sec01-rental dl dt span {
  color: #82C2A9;
}

#sec01-rental dl dt {
  width: calc(100% - 200px);
}

#sec01-rental dl dd {
  width: 200px;
  text-align: left;
}

#sec01-rental .photo {
  width: 569px;
  padding: 15px 0 20px;
  margin: auto;
}

#sec01-rental .photo img {
  width: 100%;
  height: auto;
}

#sec01-rental .txt {
  line-height: 24px;
  margin-left: 183px;
  letter-spacing: -0.025em;
}

#sec01-rental .note {
  padding-top: 45px;
  text-align: center;
  font-size: 16px;
}

@media only screen and (max-width: 899px) {
  #lead-rental .list .item {
    width: calc(33.333334% - 24px);
  }
  #lead-rental .list .item .text {
    font-size: 12px;
    padding: 15px 0 35px;
  }
  #sec01-rental .txt {
    width: 570px;
    margin: auto;
    letter-spacing: -0.025em;
    padding-left: 35px;
  }
}

@media only screen and (max-width: 767px) {
  #lead-rental .list {
    margin: 0 auto;
    width: 100%;
    max-width: 620px;
    justify-content: space-between;
  }
  #lead-rental .list .item {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }
  #lead-rental .list .item .text {
    font-size: 13px;
  }
  #sec01-rental dl {
    width: 100%;
    font-size: 13px;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  #sec01-rental .txt {
    width: calc(100% - 20px);
    margin: auto;
    letter-spacing: -0.025em;
    padding-left: 20px;
  }
  #sec01-rental .photo {
    max-width: 569px;
    width: 100%;
  }
  #sec01-rental dl dt, #sec01-rental dl dd {
    width: 100%;
    box-sizing: border-box;
  }
  #sec01-rental dl dd {
    padding-left: 20px;
  }
  #sec01-rental .note {
    font-size: 15px;
  }
}

#lead-policy {
  padding: 10px 0 80px;
}

#lead-policy ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#lead-policy ul li {
  width: 140px;
  margin: 0 18px;
}

#lead-policy ul li img {
  width: 100%;
  height: auto;
}

#policy-list {
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 65px;
}

#policy-list h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 45px;
}

#policy-list ul {
  padding: 0 45px 35px;
}

#policy-list ul li {
  position: relative;
  padding-left: 18px;
}

#policy-list ul li::before {
  content: "●";
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
}

@media only screen and (max-width: 8997px) {
  #lead-policy ul li {
    max-width: 140px;
    width: 18%;
    width: 18%;
    margin: 0 1%;
  }
}

@media only screen and (max-width: 767px) {
  #lead-policy {
    padding: 10px 0 20px;
  }
  #lead-policy ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 485px;
    margin: auto;
  }
  #lead-policy ul li {
    max-width: 140px;
    margin: 0 1.5% 10%;
    width: 30%;
  }
  #lead-policy ul li img {
    width: 100%;
    height: auto;
  }
  #policy-list {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 45px;
  }
  #policy-list h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0;
  }
  #policy-list ul {
    padding: 0 0 35px;
  }
  #policy-list ul li {
    position: relative;
    padding-left: 18px;
  }
  #policy-list ul li::before {
    content: "●";
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
  }
}

#lead-news {
  padding: 65px 0 60px;
}

#lead-news h2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 45px;
}

#lead-news .news-box .list .list-f {
  justify-content: flex-start;
}

#lead-news .news-box .list .list-f .item {
  max-width: 100%;
  margin: 0 1.625% 5%;
  width: 30%;
}

.news_box {
  text-align: center;
  padding-bottom: 30px;
}

.news_box h3 {
  font-size: 20px;
  padding-bottom: 20px;
}

.news_box ul {
  display: inline-block;
  text-align: left;
}

.news_box ul li {
  margin: 0 5px 10px;
  display: inline-block;
}

.news_box ul li:first-child {
  margin-left: 0;
}

.news_box ul li:last-child {
  margin-right: 0;
}

.news_box ul li a {
  display: block;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 6px 20px;
  text-decoration: none;
  background-color: #fff;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.news_box ul li a:hover {
  color: #fff;
  background-color: #000;
}

@media only screen and (max-width: 767px) {
  #lead-news h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 45px;
  }
  #lead-news .news-box .list .list-f {
    justify-content: space-between;
  }
  #lead-news .news-box .list .list-f .item {
    max-width: 100%;
    margin: 0 0 5%;
    width: 48.5%;
  }
}

.box-pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0 40px;
}

.box-pagination .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-pagination .pagination li {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}

.box-pagination .pagination li.off {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}

.box-pagination .pagination li a {
  text-decoration: none;
  /* background: #cccccc; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  /* font-weight: bold; */
  font-family: "Commerce", sans-serif;
  font-style: normal;
}

.box-pagination .pagination li.arrow a {
  color: #82C2A9;
}

.box-pagination .pagination li a.active,
.box-pagination .pagination li a:hover,
.page-numbers.current {
  color: #FFF;
  background: #82C2A9;
  border-radius: 50%;
  font-size: 16px;
}

.box-pagination .pagination li.arrow:hover a {
  color: #82C2A9;
  border: #82C2A9 1px solid;
  background: none;
  font-weight: normal;
  box-sizing: border-box;
}

span.page-numbers {
  text-decoration: none;
  background: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  /* font-weight: bold; */
  font-family: "Commerce", sans-serif;
  font-style: normal;
}

#lead-detail {
  padding: 65px 0 60px;
}

#lead-detail h2.ft-add {
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 45px;
}

.details-main .date {
  font-weight: bold;
  margin-bottom: 15px;
}

.details-main .date span {
  font-size: 12px;
  padding-left: 10px;
  color: #82C2A9;
}

#lead-detail h2.title {
  letter-spacing: 0;
  margin-bottom: 35px;
  line-height: 40px;
}

.content-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-detail p {
  width: 100%;
  margin-bottom: 35px;
  line-height: 26px;
}

.content-detail p img.size-large {
  width: 100%;
  height: auto;
}

.content-detail p img.size-medium {
  width: 48%;
  height: auto;
  max-width: 100%;
}

.content-detail p img.size-medium + img.size-medium {
  margin-left: 4%;
}

.content-detail p img.size-large + img.size-large {
  margin-top: 35px;
}

.content-detail h1,
.content-detail h2,
.content-detail h3,
.content-detail h4,
.content-detail h5,
.content-detail h6 {
  margin-bottom: 35px;
  line-height: 36px;
  width: 100%;
}

.content-detail h1 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 10px;
}

.content-detail h2 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

.content-detail h3 {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 10px;
}

.content-detail h4 {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 10px;
}

.content-detail h5 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}

.content-detail h6 {
  font-size: 20px;
  font-weight: bold;
}

.pagination {
  padding-top: 50px;
}

.pagination ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination ul li a {
  font-weight: bold;
}

.content-detail pre {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.content-detail pre img {
  width: auto;
  max-width: 100%;
  margin-bottom: 35px;
}

.content-detail figure {
  margin-bottom: 35px;
}

.content-detail figure figcaption {
  padding-top: 10px;
}

@media only screen and (max-width: 767px) {
  #lead-detail h2.ft-add {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 35px;
  }
  .content-detail figure {
    width: 100% !important;
  }
  .content-detail pre img {
    width: 100%;
  }
  .details-main .date {
    font-weight: bold;
    margin-bottom: 15px;
  }
  .details-main .date span {
    font-size: 12px;
    padding-left: 10px;
    color: #82C2A9;
  }
  #lead-detail h2.title {
    letter-spacing: 0;
    margin-bottom: 25px;
    font-size: 26px;
    line-height: 32px;
  }
  .content-detail p {
    margin-bottom: 25px;
    line-height: 24px;
  }
  .content-detail h1,
  .content-detail h2,
  .content-detail h3,
  .content-detail h4,
  .content-detail h5,
  .content-detail h6 {
    margin-bottom: 25px;
    line-height: 32px;
  }
  .content-detail h1 {
    font-size: 26px;
  }
  .content-detail h2 {
    font-size: 24px;
  }
  .content-detail h3 {
    font-size: 22px;
  }
  .content-detail h4 {
    font-size: 20px;
  }
  .content-detail h5 {
    font-size: 18px;
  }
  .content-detail h6 {
    font-size: 16px;
  }
  .pagination {
    padding-top: 30px;
  }
  #lead-news .news-box .list .list-f .item:first-child {
    margin-left: 0 !important;
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video, span, em, strong, dfn, code, samp, kbd, var, cite, abbr, acronym, q, br, ins, del, a, img, object {
  font-weight: normal !important;
}

#faq-block {
  position: relative;
  padding-bottom: 50px;
}

#faq-block .item-faq {
  position: relative;
  background: #FFF;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 5px 20px;
  font-size: 18px;
  line-height: 30px;
}

#faq-block .item-faq dl dt {
  content: "Q.";
  position: absolute;
  top: 0;
  left: 0;
}



#faq-block .item-faq dl dd a:hover {
  text-decoration: underline;
}


#faq-block .toggle-link::before {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  box-sizing: border-box;
  transform: rotate(135deg);
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: -8px;
  transition: all 0.35s ease;
}

#faq-block .active .toggle-link::before {
  transform: rotate(-45deg);
}

#faq-block .close-all {
  width: 60px;
  margin: auto;
  cursor: pointer;
}

#faq-block .close-all img {
  width: 100%;
  height: auto;
}

#faq-block .toggle-main {
  padding-bottom: 5px;
}





@media only screen and (min-width: 767px) {
  #sec01-rental {
    margin-top: -100px;
    padding-top: 100px;
  }
}

@media only screen and (max-width: 767px) {
  #sec01-rental {
    margin-top: -65px;
    padding-top: 65px;
  }
}

@media only screen and (max-width: 767px) {
  #faq-block {
    position: relative;
    padding-bottom: 30px;
    margin-top: -50px;
  }
  #faq-block .item-faq {
    position: relative;
    background: #FFF;
    border-radius: 15px;
    margin-bottom: 15px;
    padding: 5px 20px;
    font-size: 16px;
    line-height: 28px;
  }
  #faq-block .item-faq dl dt {
    display: block;
    position: relative;
    padding-left: 25px;
    margin: 10px 0 2px;
  }
  #faq-block .item-faq dl dt {
    content: "Q.";
    position: absolute;
    top: 0;
    left: 0;
  }
  #faq-block .item-faq dl dd {
    position: relative;
    padding-left: 25px;
    margin: 12px 0 18px;
    cursor: pointer;
  }
  #faq-block .item-faq dl dd::before {
    content: "A.";
    position: absolute;
    top: 0;
    left: 0;
    color: #f62a2d;
  }
  #faq-block .item-faq dl dd a {
    color: #f62a2d;
    transition: all 0.3s ease;
  }
  #faq-block .item-faq dl dd a:hover {
    text-decoration: underline;
  }
  #faq-block .toggle-link {
    font-size: 19px;
    position: relative;
    padding: 10px 10px;
  }
  #faq-block .toggle-link::before {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    box-sizing: border-box;
    transform: rotate(135deg);
    position: absolute;
    top: 49%;
    right: 12px;
    margin-top: -11px;
    transition: all 0.35s ease;
  }
  #faq-block .active .toggle-link::before {
    margin-top: -6px;
    transform: rotate(-45deg);
  }
  #faq-block .close-all {
    width: 55px;
    margin: auto;
    cursor: pointer;
  }
  #faq-block .close-all img {
    width: 100%;
    height: auto;
  }
  #faq-block .toggle-main {
    padding-bottom: 5px;
  }
  #flow-box-faq dl dt {
    position: relative;
    font-size: 22px;
    line-height: 32px;
    padding: 10px 0 20px 40px;
  }
  #flow-box-faq dl dt span {
    display: block;
    width: 60px;
    position: absolute;
    top: -8px;
    left: -15px;
  }
  #flow-box-faq dl dt span img {
    width: 100%;
    height: auto;
  }
  #flow-box-faq dl dd {
    padding: 10px 5px 45px;
    font-size: 15px;
    line-height: 28px;
    text-align: justify;
  }
  #flow-box-faq dl dd span {
    display: block;
    padding-bottom: 8px;
    margin-top: 30px;
  }
  #flow-box-faq dl dd span:first-child {
    margin-top: 0;
  }
  #flow-box-faq .link-h {
    display: flex;
    justify-content: center;
  }
  #flow-box-faq .link-h a {
    display: block;
    max-width: 380px;
  }
  #flow-box-faq .link-h a img {
    width: 100%;
    height: auto;
  }
}

#gallery-box .slick-slide img {
  width: 100%;
  height: auto;
}
