﻿html:not(.responsive) {
	min-width: 1000px; /* viewport */
}

/*=============================================
 * body
 *=============================================*/

body {
	color: #000;
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 14px;
	line-height: 22px;
	background: #FFF;
	min-width: inherit;
	min-height: inherit;
	max-height: 100%;
}



/*=============================================
 * fonts - DON'T EDIT
 *=============================================*/

.fnt-mincho {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "メイリオ", Meiryo, "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.fnt-meiryo {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴシックPro", "ＭＳ ゴシック", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.fnt-gothic {
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

/*=============================================
 * <main>
 *=============================================*/


@font-face {
	font-family: yufothicB;
	src: url(../font/yugothib.ttf);
	font-display: swap;
}


main {
	font-family: yufothicB;
    font-weight: normal !important;
	clear: both;
	width: 100%;
	position: relative;
	overflow: hidden;
}

#head-top {
	position: relative;
}

#key-box {
	width: 100%;
}

#key-box .slick-dots {
	position: absolute;
	bottom: 35px;
	left: 55px;
	width: 50px;
}

#key-box .slick-slide img {
	width: 100%;
	height: auto;
}

.slick-slide img.sp {
	display: none !important;
}

.head-info {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 75px 40px 0 40px;
	position: absolute;
	top: 0;
	left: 0;
}

.head-info .logo {
	display: flex;
	justify-content: flex-end;
}

.head-info .logo a {
	width: 532px;
	display: block;
}



.box-key {
	position: relative;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding-top: 50px;
height: calc(100% - 95px);
    box-sizing: border-box;
}

.box-key .box {
	max-width: 355px;
	background: #82C2A9;
	box-sizing: border-box;
	border: 4px solid #333;
	padding: 12px 22px 20px 23px;
position: absolute;
    bottom: 22%;
    left: 0;
}

.box-key .box .text {
	font-size: 30px;
	line-height: 46px;
	font-weight: bold;
	margin-bottom: 20px;
	margin-right: -20px;	
}

.box-key .ttl_key {
	max-width: 300px;
}

.head-info .logo img,
.box-key img {
	width: 100%;
	height: auto;
}
.head-info ul {
	width: 904px;
  height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../img/shared/bg_av_left.webp) no-repeat center left,url(../img/shared/bg_av.webp) no-repeat center right 170px;
	background-size: auto 100%;
	position: absolute;
	bottom: 35px;
	right: 40px;
}

.head-info ul li a img {
	width: 100%;
	height: auto;
}

.head-info ul li a {
	transition: all 0.4s ease;
}

.head-info ul li.active a,
.head-info ul li:hover a {
	opacity: 0.8;
}



/*=============================================
 * <header>
 *=============================================*/

header {
	position: relative;
	width: 100%;
	z-index: 100;
}
header .logo {
	text-align: center;
	font-size: 28px;
	padding: 20px 10px 10px;
}

header .logo a {
	text-decoration: none;
}

header h1 {
	font-size: 12px;
	color: #3e342c;
	padding: 27px 90px 20px;
}

.nav-header {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	background: #82C2A9;
	opacity: 0;
	transition: opacity 0.4s ease;
	padding: 20px;
	box-sizing: border-box;
	visibility: hidden;
}

.nav-header .inner {
	max-width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.nav-header .inner .logo-fix {
	width: 261px;
}

.nav-header .inner img {
	width: 100%;
	height: auto;
}

.fixed-btn .nav-header {
	opacity: 1;
	visibility: visible;
}

.nav-header ul {
	/* width: 755px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../img/shared/bg_av.webp) no-repeat center left;
	background-size: 575px auto; */
	width: 904px;
  height: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(../img/shared/bg_av_left.webp) no-repeat center left,url(../img/shared/bg_av.webp) no-repeat center right 170px;
	background-size: auto 100%;
}

.nav-header ul li a img {
	width: 100%;
	height: auto;
}

.nav-header ul li a {
	transition: all 0.4s ease;
}

.nav-header ul li.active a,
.nav-header ul li:hover a {
	opacity: 0.8;
}

.sp {
	display: none;
}

.pc {
	display: block;
}



/*88888888888888888*/
.page-all {
	height: 455px;
}

.page-all .head-info {
	padding: 25px 40px 0;
	display: flex;
	justify-content: space-between;
}

.page-all .head-info ul {
	position: static;
}

.page-all .head-info .logo {
	width: 261px;
}

.key-page {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -20%);
	text-align: center;
	font-size: 24px;
	line-height: 48px;
	font-weight: bold;
	width: 100%;
	z-index: 10;
}

.policy .key-page {
	top: 55%;
}

.page-all.policy {
	height: 140px;
}

.page-template-tpl-policy .header-box,
.page-template-tpl-policy .head-info,
.page-template-tpl-policy #banner-pdf,
.page-template-tpl-policy footer {
	display: none !important;
}

.key-page h1 span {
	color: #FFF;
	background: #000;
	min-width: 260px;
	text-align: center;
	display: inline-block;
	letter-spacing: 0.2em;
	padding: 15px 25px;
	font-size: 30px;
}

.policy .key-page h1 span { 
	background: none;
	color: #000;
	font-size: 26px;
}

.ttl-key-page span {
	border-bottom: 2px solid;
}

.reservation .ttl-key-page span {
	border-bottom: none;
	width: 900px;
	background: #D5D5D5;
	font-size: 18px;
	display: inline-block;
	padding: 19px 10px;
	box-sizing: border-box;
}

.reservation .ttl-key-page span.h-span {
	line-height: 34px;
}

.reservation .ttl-key-page a {
	color: #FF463C;
	border-bottom: 1px solid #000;
	text-decoration: none;
}

.reservation .ttl-key-page a:hover {
	border-bottom: none;
}


.price {
	background: url(../img/common/key_price.webp) no-repeat center center;
	background-size: cover;
}

.studio {
	background: url(../img/common/key_studio.webp) no-repeat center center;
	background-size: cover;
}

.access {
	background: url(../img/common/key_access.webp) no-repeat center center;
	background-size: cover;
}

.rental {
	background: url(../img/common/key_rental.webp) no-repeat center center;
	background-size: cover;
}

.news {
	background: url(../img/common/key_news.webp) no-repeat center bottom;
	background-size: cover;
}

@media only screen and (max-width: 1550px) {
	.news {
        background: url(../img/common/key_news1.webp) no-repeat center bottom;
        background-size: cover;
    }
}

@media only screen and (max-width: 1199px) {
	#key-box .slick-slide img {
		width: 120%;
	}

	.head-info .logo a {
		width: 400px;
	}

	.box-key .box {
		max-width: 335px;
bottom: 20%;
	}

	.box-key .box .text {
		font-size: 28px;
		line-height: 46px;
		font-weight: bold;
		margin-bottom: 8px;
	}
}


@media only screen and (max-width: 1025px) {
	#key-box .slick-slide img {
		width: 130%;
	}

	.box-key .box {
		max-width: 300px;
	}

	.head-info .logo a {
		width: 400px;
	}

	.box-key .ttl_key {
    max-width: 250px;
	}

	.box-key .box .text {
		font-size: 24px;
		line-height: 38px;
		font-weight: bold;
		margin-bottom: 8px;
	}

	.head-info {
		padding: 50px 30px 0 35px;
	}
}

@media only screen and (max-width: 1089px) {	

	#key-box .slick-dots {
		
    left: 35px;
		
	}

	.head-info ul {
		width: 750px;
		background: url(../img/shared/bg_av_left.webp) no-repeat center left,url(../img/shared/bg_av.webp) no-repeat center right 140px;
    background-size: auto 100%;
		background-size: auto 100%;
		height: 46px;
		right: 25px;
	}

	.nav-header ul {
		width: 68%;
		max-width: 755px;
		background-size: 76% auto;
	}
}





@media only screen and (max-width: 1279px) {
	.nav-header ul {
		width: 750px;
		background: url(../img/shared/bg_av_left.webp) no-repeat center left,url(../img/shared/bg_av.webp) no-repeat center right 140px;
    background-size: auto 100%;
		background-size: auto 100%;
		height: 46px;
	}	

	.nav-header .inner .logo-fix {
		max-width: 261px;
		width: 20%;
	}

	.page-all .head-info .logo {
		width: 20%;
		max-width: 261px;
		padding-top: 3px;
	}

	.nav-header {
		padding: 15px;
	}

	.page-all .head-info ul {
    width: 750px;
		background: url(../img/shared/bg_av_left.webp) no-repeat center left,url(../img/shared/bg_av.webp) no-repeat center right 140px;
    background-size: auto 100%;
		background-size: auto 100%;
		height: 46px;
	}

	.page-all .head-info {
    padding: 25px 30px 0;
	}
}

@media only screen and (max-width: 999px) {	

	#key-box .slick-dots {
		
    left: 35px;
		
	}

	.page-all .head-info {
    padding: 25px 15px 0;
	}

	.page-all .head-info .logo {
		padding-top: 6px;
	}

	.head-info ul {
		width: 635px;
		background: url(../img/shared/bg_av_left.webp) no-repeat center left,url(../img/shared/bg_av.webp) no-repeat center right 117px;
    background-size: auto 100%;
		right: 15px;
		height: 40px;
	}

	.page-all .head-info ul {
    width: 570px;
		background: url(../img/shared/bg_av_left.webp) no-repeat center left,url(../img/shared/bg_av.webp) no-repeat center right 0;
    background-size: auto 100%;
		height: 43px;
		right: 15px;
	}

	.nav-header ul {
		/* width: 635px;
		background: url(../img/shared/bg_av_left.webp) no-repeat center left,url(../img/shared/bg_av.webp) no-repeat center right 117px;
    background-size: auto 100%;
		background-size: auto 100%;
		height: 40px;
		right: 15px; */
		width: 570px;
		background: url(../img/shared/bg_av_left.webp) no-repeat center left,url(../img/shared/bg_av.webp) no-repeat center right 0;
    background-size: auto 100%;
		height: 43px;
		right: 15px;
	}

	.nav-header ul li:nth-child(9) {
		position: absolute;
    width: 80px;
    top: 50px;
    right: 60px;
	}

	.page-all .head-info ul li:nth-child(8) {
		position: absolute;
    width: 80px;
    top: 75px;
    right: 60px;
	}
	.page-all .head-info ul li:nth-child(9) {
		position: absolute;
    width: 40px;
    top: 75px;
    right: 15px;
	}
}

@media only screen and (max-width: 767px) {
	.reservation .ttl-key-page span.h-span {
		line-height: 24px;
	}
	.sp {
		display: block !important;
	}
	.pc {
		display: none !important;
	}

    .news {
        background: url(http://fcv.foodconnection.tokyo/zebra/wp-content/themes/zebra/frontend/shared/css/../img/common/key_news.webp) no-repeat left 36% bottom 2%;
    background-size: 330%;
    }

.news .key-page {
	top: 55%;
}

	#key-box .slick-slide img {
		width: 100%;
		height: auto;
	}
    .box-key .box .text {        
        margin-right: 0;
        margin-left: 2%;
    }
	.slick-slide img.sp {
		display: block !important;
	}

	.page-all .head-info .logo {
		display: none;
	}

	#head-top {
		padding-top: 10px;
	}

	.head-info {
    padding: 40px 15px 0 20px;
	}

	.box-key .ttl_key {
		width: 32%;
	}

	.box-key .box {
	    width: 55%;
        max-width: 100%;
		padding: 12px 10px 20px;
		border: 3px solid #333;
bottom: -5%;
	}
    .box-key {
       
        padding-top: 20px;
    }

	.box-key .box .text {
		font-size: 4.1vw;
		line-height: 1.8;
	}

	#key-box .slick-dots {
		left: 20px;
		bottom: 25px;
	}

	.page-all {
    height: 305px;
	}

	.page-all.policy {
		height: 150px;
	}

	.key-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    font-size: 3.7vw;
    line-height: 38px;


	}

    .access .key-page,
    .rental .key-page {
    line-height: 32px;
    }

	.key-page h1 span {
    color: #FFF;
    background: #000;
    min-width: 200px;
    text-align: center;
    display: inline-block;
    letter-spacing: 0.2em;
    padding: 10px 15px;
    font-size: 5.5vw;
	}

	.header-box {
		display: flex;
		align-items: center;
		padding: 0 5%;
		position: fixed;
		background: #82C2A9;
		height: 60px;
		top: 0;
	}
	header .logo {
		padding: 15px 0 20px;
		width: 35%;
	}
	header .logo img {
		width: 100%;
	}
	header h1 {
		font-size: 2.1vw;
		padding: 8px 5px 0;
		margin-left: 3%;
		width: 50%;
		line-height: 1.8;
	}
	.hamberger-btn {
		position: fixed;
		top: 0px;
    right: 0;
    width: 60px;
    height: 60px;
		display: block;
		z-index: 201;
		transition: all 0.4s ease;
		overflow: hidden;
		background: url(../img/shared/btn_h.webp) no-repeat;
		background-size: cover;
	}
	.hamberger-btn span {
		width: 35px;
		height: 3px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		background: #0092d2;
		display: none;
	}

	.hamberger-btn span::before,
	.hamberger-btn span::after {
		width: 35px;
		height: 3px;
		position: absolute;
		left: 0;
		background: #0092d2;
		content: "";
		display: none;
	}

	.hamberger-btn span::after {
		top: -10px;
	}

	.hamberger-btn span::before {
		top: 10px;
	}

	.nav-header .sub-nav::before {
		display: none;
	}

	.menu-open .hamberger-btn {
		background: url(../img/shared/close.webp) no-repeat center center;
		background-size: 60px auto;
		transform: rotate(360deg);
	}

	.menu-open .hamberger-btn span {
		opacity: 0;
	}

	.head-info ul {
		display: none;
	}

	.nav-header {
		width: 100%;
		height: 100vh;
		background: #82C2A9;
		position: fixed;
		top: 0;
		left: -100%;
		transition: left 0.5s ease;
		opacity: 1;
		visibility: visible;
		overflow: auto;
	}

	.menu-open .nav-header {		
		left: 0%;
	}

	.nav-header .nav {
		display: block;
		padding: 65px 0 120px;
		background: none;
		width: 100%;
		height: auto;
	}

	.nav-header a.nav-main {
		padding: 10px 22px;
		font-size: 16px;
		text-align: center;
		justify-content: center;
		font-weight: bold;
		position: relative;
	}

	.nav-header .sub-nav span {
		padding: 0 10px;
		font-size: 16px;
	}

	.nav-header li.active a.nav-main::before {
		width: 40%;
    height: 1px;
    background: #000;
    content: "";
    position: absolute;
    bottom: 10px;
		left: 30%;
		display: none;
	}

	.nav-header a.nav-main {
		display: flex;
	}

	.nav-header a.nav-main span {
		padding: 5px 0;
	}

	.nav-header li.active a.nav-main span {
		border-bottom: 1px solid #000;
	}

	.nav-header a.nav-main::after,
	.nav-header .sub-nav::after {
		display: none;
	}

	.nav-header .sub-box {
		opacity: 1;
		visibility: visible;
		position: inherit;
		top: inherit;
		left: initial;
		width: auto;
		padding: 0 25px;
	}

	.hide-nav {
		width: 50px;
		display: flex;
    justify-content: center;
		margin: 15px auto;
		height: 50px;
	}

	.nav-header .nav li:nth-child(9) {
		width: 63%;
		display: flex;
		justify-content: flex-end;
		position: static;
	}

	.nav-header .nav li:nth-child(10) {
		padding-left: 58%;
		margin-top: -69px;
		display: flex;
		justify-content: flex-start;
		position: static;
	}

	.nav-header .nav li:nth-child(9) img {
		width: 122px;
		height: auto;
	}

	.nav-header .nav li:nth-child(10) img {
		width: 58px;
		height: auto;
	}

	.reservation .ttl-key-page span {
    border-bottom: none;
    width: 90%;
    background: #D5D5D5;
    font-size: 3.5vw;
    display: inline-block;
    padding: 8px 10px;
		margin-top: 20px;
		line-height: 2;
	}
}

@media only screen and (min-width: 768px) {
	body {
		position: static !important;
		top: 0 !important;
	}
}
@media only screen and (max-width: 374px) {
	.box-key .box {
		    margin-top: 18%;
	}
}
/*=============================================
 * <footer>
 *=============================================*/

footer {
	position: relative;
	background: #D5D5D5;
	padding: 0px 0 50px;
}

footer .logo-ft {
	padding-top: 50px;
	width: 299px;
	margin-bottom: 30px;
}

footer .text {
	font-weight: bold;
	padding-bottom: 10px;
	font-size: 12px;
	letter-spacing: 0.1em;
}

footer .text span {
	display: block;
	font-size: 16px;
	padding-bottom: 2px;
}

footer .nav-ft {
	width: 525px;
}

footer .nav-ft ul {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 15px;
}

footer .nav-ft ul li {
	min-width: 100px;
	margin-bottom: 3px;
}

footer .nav-ft ul li:nth-child(4), footer .nav-ft ul li:nth-child(7) {
	min-width: 130px;
}
footer .nav-ft ul li:nth-child(6) {
min-width: 80px;
    margin-left: -15px;
}

footer .nav-ft ul li:nth-child(8) {
min-width: 75px;
}

footer .nav-ft ul a {
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	padding-bottom: 2px;
	border-bottom: 1px solid;
	display: inline-block;
	transition: all 0.3s ease;
}

footer .nav-ft ul a:hover {
	border-bottom: none;
}

footer .btn {
	width: 388px;
}

footer .btn-add {
	padding-top: 20px;
	width: 118px;
}

#to-head {
	position: absolute;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 90;
	width: 124px;
	cursor: pointer;
}

#pagetop {
	cursor: pointer;
	transition: all 0.3s ease;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 70px;
}

.fix-left {
	position: fixed;
	right: 0;
	bottom: 10px;
	width: 150px;
    z-index: 98;
}

#pagetop img,
#to-head img,
.logo-ft img,
footer .btn img,
.fix-left img {
	width: 100%;
	height: auto;
}

.twitter-box {
	position: absolute;
	top: 50px;
	right: 0;
	width: 350px;
	height: 355px;
	overflow: auto;
	background: #FFF;
}

#pagetop:hover {
	opacity: 0.9;
}

footer address {
	font-weight: bold;
	text-align: left;
	font-size: 12px;
	letter-spacing: 0.1em;
	padding-top: 30px;
}
.breadcrumb {
	background: #f2f2f2;
	padding: 5px 0;
}

#breadcumb ul li {
	display: inline;
	padding-right: 25px;
	position: relative;
	font-weight: bold;
	font-size: 12px;
}

#breadcumb ul li::before {
	font-size: 12px;
	content: ">";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
	font-weight: bold;
}

#breadcumb ul li:last-child::before {
	display: none;
}


@media only screen and (max-width: 899px) {

	.reservation .ttl-key-page span {
		width: 95%;
	}
	.fix-left {		
		width: 110px;
	}

	#to-head {
		width: 100px;
	}

	.twitter-box {
		width: 310px;
		right: 3%;
	}

	footer .text {
		max-width: 50%;
	}

	footer .text span.tb {
		display: inline-block;
	}

	footer .nav-ft {
		width: 65%;
	}

footer .nav-ft ul li:nth-child(8) {
    min-width: 58px;
}

	footer .nav-ft ul li {
		min-width: 90px;
	}

	footer .btn {
		width: 334px;
	}
}

.btn-hover {
	display: block;
	transition: all 0.4s ease;
	box-shadow: 2px 2px 0 #000;
}

.btn-hover:hover {
	box-shadow: none;
}

.btn-hover:hover img {
	opacity: 1 !important;
}

@media only screen and (max-width: 767px) {
	#to-head {
		width: 75px;
	}
	footer .btn-add {
		padding: 0 0 20px;
		width: 118px;
		margin: auto;
	}
	.twitter-box {
		position: static;
    width: 100%;
	}

	footer .logo-ft {
    padding: 50px 0 30px;
    width: 210px;
    margin-bottom: 0;
	}

	footer .text {
		max-width: 100%;
	}

	footer .nav-ft {
		width: 100%;
	}

	footer .nav-ft ul {
    padding-bottom: 20px;
	}

	footer .nav-ft ul li {
		min-width: auto !important;
		margin-right: 6%;
margin-left: 0 !important;
	}

	footer .nav-ft ul li:nth-child(3) {
		min-width: auto;
	}

	footer .btn {
		width: 300px;
		margin: 0 auto 25px;
	}

	footer address {
		font-size: 10px;
		text-align: center;
	}
	#pagetop {
		width: 50px;
	}

	.fix-left {
		width: 85px;
		bottom: 0;
	}
}

.animated {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-duration: 1s;
  animation-fill-mode: both
}

@-webkit-keyframes fadeInUp {
  0% {
      -webkit-transform: translate3d(0,20px,0);
      opacity: 0;
      transform: translate3d(0,20px,0)
  }

  to {
      -webkit-transform: translateZ(0);
      opacity: 1;
      transform: translateZ(0)
  }
}

@keyframes fadeInUp {
  0% {
      -webkit-transform: translate3d(0,20px,0);
      opacity: 0;
      transform: translate3d(0,20px,0)
  }

  to {
      -webkit-transform: translateZ(0);
      opacity: 1;
      transform: translateZ(0)
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* ==========================================================================
   css popup
   ========================================================================== */
/* Hide scroll bar */
html.remodal-is-locked {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
}
/* Anti FOUC */
.remodal,
[data-remodal-id] {
	display: none;
}
/* Necessary styles of the overlay */
.remodal-overlay {
	position: fixed;
	z-index: 9999;
	top: -5000px;
	right: -5000px;
	bottom: -5000px;
	left: -5000px;
	display: none;
}
/* Necessary styles of the wrapper */
.remodal-wrapper {
	position: fixed;
	z-index: 10000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	overflow: auto;
	text-align: center;
	-webkit-overflow-scrolling: touch;
}
.remodal-wrapper:after {
	display: inline-block;
	height: 100%;
	margin-left: -0.05em;
	content: "";
}
/* Fix iPad, iPhone glitches */
.remodal-overlay,
.remodal-wrapper {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
/* Necessary styles of the modal dialog */
.remodal {
	position: relative;
	outline: none;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
.remodal-is-initialized {
	/* Disable Anti-FOUC */
	display: inline-block;
}
/* Default theme styles for the background */
.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
/* Default theme styles of the overlay */
.remodal-overlay {
	background: rgba(0,0,0,0.7);
}
.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.remodal-overlay.remodal-is-opening {
	-webkit-animation-name: remodal-overlay-opening-keyframes;
	animation-name: remodal-overlay-opening-keyframes;
}
.remodal-overlay.remodal-is-closing {
	-webkit-animation-name: remodal-overlay-closing-keyframes;
	animation-name: remodal-overlay-closing-keyframes;
}
/* Default theme styles of the wrapper */
.remodal-wrapper {
	padding: 10px 10px 0;
}
/* Default theme styles of the modal dialog */
.remodal {
	box-sizing: border-box;
	width: 100%;
	padding: 22px;
  	margin-bottom: 10px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	color: #000;
	background: #FFF;
}
.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.remodal.remodal-is-opening {
	-webkit-animation-name: remodal-opening-keyframes;
	animation-name: remodal-opening-keyframes;
}
.remodal.remodal-is-closing {
	-webkit-animation-name: remodal-closing-keyframes;
	animation-name: remodal-closing-keyframes;
}
/* Vertical align of the modal dialog */
.remodal,
.remodal-wrapper:after {
	vertical-align: middle;
}
/* Close button */
.remodal-close {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	overflow: visible;
	width: 45px;
	height: 45px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	text-decoration: none;
	color: #6B6D71;
	border: 0;
	outline: 0;
	background: transparent;
}

.pp-box-st img {
	width: 100%;
	height: auto;
}

.pp-box-st dl {
	display: flex;
	justify-content: space-between;
	padding-top: 4%;
}

.pp-box-st dl dt {
	width: 50%;
}

.pp-box-st dl dt span {
	display: block;
	margin-bottom: 15px;
	width: 100%;
}

.pp-box-st dl dd {
	width: 46%;
	text-align: left;
}


.remodal-close img {
	width: 100%;
	height: auto;
}
.remodal-close:hover,
.remodal-close:focus {
	color: #2b2e38;
}
.remodal-close:before {
	font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
	font-size: 35px;
	line-height: 35px;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 35px;
	content: "\00d7";
	text-align: center;
}
/* Dialog buttons */
.remodal-confirm,
.remodal-cancel {
	font: inherit;
	display: inline-block;
	overflow: visible;
	min-width: 110px;
	margin: 0;
	padding: 12px 0;
	cursor: pointer;
	-webkit-transition: background 0.2s;
	transition: background 0.2s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border: 0;
	outline: 0;
}
.remodal-confirm {
	color: #fff;
	background: #81c784;
}
.remodal-confirm:hover,
.remodal-confirm:focus {
	background: #66bb6a;
}
.remodal-cancel {
	color: #fff;
	background: #e57373;
}
.remodal-cancel:hover,
.remodal-cancel:focus {
	background: #ef5350;
}
/* Remove inner padding and border in Firefox 4+ for the button tag. */
.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
	padding: 0;
	border: 0;
}
/* Keyframes
	 ========================================================================== */
@-webkit-keyframes remodal-opening-keyframes {
	from {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 0;
	}
	to {
		-webkit-transform: none;
		transform: none;
		opacity: 1;
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}
@keyframes remodal-opening-keyframes {
	from {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 0;
	}
	to {
		-webkit-transform: none;
		transform: none;
		opacity: 1;
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}
@-webkit-keyframes remodal-closing-keyframes {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
		opacity: 0;
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}
@keyframes remodal-closing-keyframes {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
		opacity: 0;
		-webkit-filter: blur(0);
		filter: blur(0);
	}
}
@-webkit-keyframes remodal-overlay-opening-keyframes {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes remodal-overlay-opening-keyframes {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-webkit-keyframes remodal-overlay-closing-keyframes {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes remodal-overlay-closing-keyframes {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
/* Media queries
	 ========================================================================== */
@media only screen and (min-width: 641px) {
	.remodal {
		max-width: 700px;
	}
}

@media only screen and (max-width: 641px) {
	.pp-box-st dl {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 8%;
	}
	
	.pp-box-st dl dt {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.pp-box-st dl dd {
		width: 100%;
		text-align: left;
	}
}


/* IE8
	 ========================================================================== */
.lt-ie9 .remodal-overlay {
	background: #2b2e38;
}
.lt-ie9 .remodal {
	width: 700px;
}
/* ==========================================================================
	 end css popup
	 ========================================================================== */